{% extends 'core/base.html' %}
{% block title %}Lista de Clientes{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <br>
    <title>Lista de Clientes</title>
</head>
<body>
    <div class="container">
    <h1>Lista de Clientes</h1>
    <a href="{% url 'menu' %}" class="button">Voltar ao Menu</a>
    <a href="{% url 'criar_cliente' %}" class="button">Criar Cliente</a>
    <a href="{% url 'gerar_relatorio_clientes' %}" target="_blank" class="button">Gerar Relatório de Clientes</a>
    <table>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>email</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.user.username }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ usuario.user.email }}</td>
        </tr>
        

        {% endfor %}
    </table>
</body>
</div>
</html>
{% endblock%}
